:root {
  /* primary */
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  /* #31d35c = Limegreen */
  --brightCyan: hsl(192, 70%, 51%);
  /* #2bb7da brightCyan */

  /* neutral */
  --grayishBlue: hsl(233, 8%, 62%);
  --lightGrayishBlue: hsl(220, 16%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

* {
  font-family: "Public Sans";
}

.greyText {
  color: var(--grayishBlue);
}

.whitewhite {
  background: var(--veryLightGray);
}

.lightGreyText {
  color: var(--grayishBlue);
}

.lightGrey {
  background: var(--lightGrayishBlue);
}

.darkBlueBackground {
  background: var(--darkBlue);
}

.grad {
  background: linear-gradient(to right, #31d35c, #2bb7da);
}

.backgroundImage {
  background-image: url(./images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: top -150%;
  background-size: 125%;
}
